.footer-group {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  gap: 10px;

  .home-btn,
  .menu-btn {
    background-color: #2d333f;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    cursor: pointer;

    i {
      color: #e7ecf2;
      margin-right: 8px;
      font-size: 16px;
    }

    &:hover {
      background-color: darken(#2d333f, 10%);
      color: #ffffff;
    }

    &:active {
      background-color: lighten(#2d333f, 10%);
    }
  }

  .home-btn {
    width: 40px;
    height: 100%;
  }

  .menu-btn {
    width: auto;
    height: 100%;
  }
}
